
**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules
node_modules/
.env
.env.local
frontend/.next/
frontend/out/
.DS_Store
.clarinet/
deployments/*.plan.yaml
*.key
secrets/
coverage/
